# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

/.gradle/
/.settings/
/bin/
/build/
/eclipse/
/gradle/
/run/
.classpath
.project
*gradle*
*.launch
LICENSE*
MinecraftForge*
Paulscode*
README*
Thumbs.db
CREDITS*
*changelog.txt
*.exe
*.psd